.fav {
	&-list {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
		gap: 20px;
		padding-top: 20px;
	}

	&-container {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
	}
}
