@import '../../styles/variables.scss';

.nav {
	max-width: fit-content;
	@include tablet {
		display: none;
	}

	border-right: 1px solid $typo-contrast;
	padding: 50px;

	&__list {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	&__link {
		@include h5;

		display: flex;
		align-items: center;
		gap: 3px;
		color: $typo-dark;
		transition: color 0.3s ease-in-out;

		@media (hover: hover) and (pointer: fine) {
			&:hover {
				color: $typo-contrast;

				svg {
					color: $typo-contrast;
				}
			}
		}

		&_active {
			color: $typo-contrast;

			svg {
				color: $typo-contrast;
			}
		}
	}
}
